﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="WebApplication1.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h3>Contacte-nos</h3>
    <br>
    <h4>Erros, duvidas ou sugestões, envie email:</h4>
    <br>
    <br>
    <address>
        <strong>João Santos:</strong>   <a href="mailto:joao_santos87@hotmail.com">joao_santos87@hotmail.com</a><br />
    </address>
</asp:Content>
