<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TableTennisRanking.Properties.Settings.tabletennisrankingConnectionString"
            connectionString="server=localhost;user id=root;database=tabletennisranking"
            providerName="MySql.Data.MySqlClient" />
        <add name="TableTennisRanking.Properties.Settings.tabletennisrankingConnectionString1"
            connectionString="User Id=root;Host=localhost;Database=tabletennisranking"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
</configuration>