﻿<%@ Page Title="Informacoes" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Sobre.aspx.cs" Inherits="WebApplication1.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %></h2>
        <td> Numero Jogos 
    </td>
        <td runat="server" id="numeroJogos"></td>
    
    
    
        <td> Numero Torneios </td>
        <td runat="server" id="numeroTorneios"></td>
    
</asp:Content>