﻿.tituloClube
{
    border-bottom: solid;
    padding-left:10px;
    border-color:darkblue;
}

.btn:hover 
{
    font-weight: bold;
    border:solid;
    border-color:darkblue;
    overflow:hidden;
    margin-top:1px;
}

td a.sign {
    width: 20px;
    height: 20px;
    padding: 0px 0px 0px 0px;
    color: #FFF;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}
td a.win {
    background-color: #693;
}
td a.lost {
    background-color: #C33;
}

.gridviewHeader
{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}


.table td
{
    text-align: center;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}